<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.anand.falconproduction"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="com.example.anand.falconproduction.ActivityDecider"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.anand.falconproduction.activity.LoginActivity"
            android:noHistory="true">
        </activity>
        <activity
            android:name="com.example.anand.falconproduction.activity.MainActivity">
        </activity>
        <activity android:name=".activity.ViewRequestActivity">
        </activity>
        <activity android:name=".activity.CreateRequestActivity">
        </activity>
        <activity android:name=".activity.utility.MultipleFilesSelectionActivity">
        </activity>
        <activity android:launchMode="singleTop" android:name=".activity.SearchResultsActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <meta-data
        	      android:name="android.app.default_searchable"
        	      android:value=".activity.SearchResultsActivity" />
    </application>

</manifest>
